body {
    margin: 0;
}

.App {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.canvas {
    height: 100vh;
    width: 100vw;
    background-color: rgb(3, 1, 18);
    z-index: 0;
}

.menu {
    position: absolute;
    color: white;
    padding: 1rem;
    margin: 5rem;
    border-radius: 5%;
    box-shadow: 0px 0px 1rem rgb(18, 132, 163);
    background-color: rgba(11, 66, 89, 0.461);
    z-index: 1;
}

li {
    cursor: pointer;
}

